In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [38]:
df = pd.read_csv('/Users/kaciechong/Desktop/SexualOrientation.csv')

In [39]:
df

,Unnamed: 0,Academic Year of Participation,Academic Year of Participation.1,Academic Year of Participation.2,Academic Year of Participation.3,Academic Year of Participation.4
0,NaN,2020-21,2021-22,2022-23,2023-24,Grand Total
1,Bisexual,5.6%,9.7%,11.5%,11.8%,11.3%
2,Gay or Lesbian,NaN,2.9%,4.1%,4.0%,3.8%
3,Heterosexual or Straight,80.6%,73.7%,69.0%,68.6%,69.6%
4,Not listed/ decline to state/ not reported,13.9%,13.7%,15.4%,15.6%,15.2%

In [40]:
df = df.rename(columns={'Unnamed: 0': 'Identity'})
df = df.rename(columns={'Academic Year of Participation': '2020-21'})
df = df.rename(columns={'Academic Year of Participation.1': '2021-22'})
df = df.rename(columns={'Academic Year of Participation.2': '2022-23'})
df = df.rename(columns={'Academic Year of Participation.3': '2023-24'})
df = df.rename(columns={'Academic Year of Participation.4': 'Grand Total'})

In [41]:
df = df.drop(0)
df

,Identity,2020-21,2021-22,2022-23,2023-24,Grand Total
1,Bisexual,5.6%,9.7%,11.5%,11.8%,11.3%
2,Gay or Lesbian,NaN,2.9%,4.1%,4.0%,3.8%
3,Heterosexual or Straight,80.6%,73.7%,69.0%,68.6%,69.6%
4,Not listed/ decline to state/ not reported,13.9%,13.7%,15.4%,15.6%,15.2%

In [43]:
for col in df.columns[1:]:
    df[col] = df[col].str.rstrip('%').astype(float)

# Set Identity as index
df.set_index('Identity', inplace=True)

# Transpose to have years on x-axis
df = df.transpose()

# Plot
plt.figure(figsize=(10, 6))
for identity in df.columns:
    plt.plot(df.index, df[identity], marker='o', label=identity)

plt.title('Identity Distribution Over Years')
plt.xlabel('Year')
plt.ylabel('Percentage (%)')
plt.legend()
plt.grid(True)
plt.tight_layout()
desktop = os.path.join(os.path.expanduser('~'), 'Desktop')

# Define save path
save_path = os.path.join(desktop, 'identity.png')

# Save the figure
plt.savefig(save_path, dpi=300)

# Show the plot
plt.show()

AttributeError: Can only use .str accessor with string values!